body, .cs-head, .cs-content{
    font-family: 'Poppins', sans-serif;
}
.cs-head{
    font-weight: 400;
    color: white;
    letter-spacing: 2px;
}
.logo{
    background: url('/logo.png');
    border: 2px solid wheat;
    min-height: 2rem;
    min-width: 2rem;
}