body, .cs-head, .cs-content{
    font-family: 'Poppins', sans-serif;
}
.cs-head{
    font-weight: 400;
    color: white;
    letter-spacing: 2px;
}
.logo{
    background: url('/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 5rem;
    min-width: 15rem;
}
.scrollbar-0::-webkit-scrollbar{
    width: 0;
}