body, .cs-head, .cs-content{
    font-family: 'Poppins', sans-serif;
}
.cs-head{
    font-weight: 400;
    color: white;
    letter-spacing: 2px;
}
.logo{
    background: url('/logo1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 5rem;
    min-width: 15rem;
}
.scrollbar-0::-webkit-scrollbar{
    width: 0;
}
.grey-bold{
    font-weight: 900;
    font-size: 1.1rem;
}