@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'MetropolisMedium';
    src: url("/public/metropolis/metropolis-medium-webfont.woff2")format('.woff2');
}
@font-face {
    font-family: 'MetropolisRegular';
    src: url('/public/metropolis/metropolis-regular-webfont.woff2')format('.woff2');
}
@font-face {
    font-family: 'DomineRegular';
    src: url("/public/Domine/domine-regular-webfont.woff2")format('.woff2');
}
@font-face {
    font-family: 'PoppinsMedium';
    src: url("/public/Poppins/Poppins-Medium.ttf")format('.ttf');
}
